header {
    background-color: black;
    color: beige;
    position: fixed;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
}

header nav {
    margin: 30px;
}

header nav a {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: white;
}

header nav a:hover {
    font-size: 30px;
    border: 2px solid white;
    border-radius: 25px;
    color:brown;
}

#active {
    font-size: 30px;
    background-color: white;
    color:black;
    border-radius: 25px;
}

#active:hover {
    font-size: 30px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 25px;
    color:brown;
}

section {
    position: fixed;
    top: 100px;
    left: 0px;
    right:0px;
    bottom:70px;
}

footer {
    background-color: black;
    position: fixed;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    color: beige;
}

footer p:hover {
    color:brown;
}

